<main class="login">
    {{#>Form type="login" title="Вход"}}
        <div class="login__form_fields">
            {{{FormField label="Логин" ref="login" name="login" type="text" }}}
            {{{FormField label="Пароль" ref="password" name="password" type="password"}}}
        </div>
        {{{Button label="Войти" style="primary" type="submit" onClick=onLogin}}}
        {{{Button label="Еще не зарегистрированы?" style="secondary" type="button" onClick=onSwitch}}}
    {{/Form}}
</main>
