@import "../../../assets/styles/default-main";
@import "../../../assets/styles/color-scheme";

.register {   
    @include default-main;

    &__form {
        &_fields {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            margin: 0 0 36px;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 16px;
        }

    }      
}
