@import "../../../assets/styles/color-scheme";

.chat-feed {
    padding: 10px;
    justify-content: end;
    height: calc(100% - 80px);
    background-color: $base-background;
    overflow-x: hidden;
    overflow-y: auto;
}   
