<main class="main-page">
  {{#>ChatList}}
    {{>ChatBox header="Урааааа!!!" time="11.11" content="Наконец-то нарисовалась эта штука, ещё конечно верстать и верстать...." unread = 1}}
    {{>ChatBox header="Урааааа!!!" time="11.11" content="Наконец-то нарисовалась эта штука, ещё конечно верстать и верстать...." unread = 1}}
    {{>ChatBox header="Урааааа!!!" time="11.11" content="Наконец-то нарисовалась эта штука, ещё конечно верстать и верстать...." unread = 111}}
    {{>ChatBox header="Урааааа!!!" time="11.11" content="Наконец-то нарисовалась эта штука, ещё конечно верстать и верстать...."}}
    {{>ChatBox header="Урааааа!!!" time="11.11" content="Наконец-то нарисовалась эта штука, ещё конечно верстать и верстать...."}}
    {{>ChatBox header="Урааааа!!!" time="11.11" content="Наконец-то нарисовалась эта штука, ещё конечно верстать и верстать...."}}
  {{/ChatList}}
  {{#>ChatWindow}}
  {{>ChatHeader header = "Название чата"}}
    {{#>ChatFeed}}
      {{>ChatMessage author="Vova" time="22.22" text="Hello, World!!!"}}
      {{>ChatMessage author="Vova" time="22.22" text="Hello, World!!!"}}
      {{>ChatMessage author="Vova" time="22.22" text="Hello, World!!!SDJFHKDSJBFjkbgjnsdbfgjsdbkfsdufbwibfmdsnvndvjsdoivhjwoiughjkrebvsmd"}}
    {{/ChatFeed}}
    {{{ChatMessageBar}}}  
  {{/ChatWindow}}
</main>
