<main class="main-page">
  {{#>ChatList}}
    {{#each chats}}
      {{>ChatBox 
        header=this.title
        time=this.last_message.time
        content=this.last_message.content
        unread=this.unread_count
      }}
    {{/each}}
  {{/ChatList}}
  {{#>ChatWindow}}
  {{>ChatHeader header = "Chat 4 Chads"}}
    {{#>ChatFeed}}
      {{#each messages}}
        {{>ChatMessage 
          author=this.author 
          time=this.time
          text=this.content
        }}
      {{/each}}
    {{/ChatFeed}}
    {{{ChatMessageBar}}}  
  {{/ChatWindow}}
</main>
