<div class="chat-settings-bar">
    <button class="chat-settings-bar__profile-button" onclick={{toggleProfile}}></button>
    <button class="chat-settings-bar__settings-button" onclick={{toggleSettings}}></button>
    <button class="chat-settings-bar__favorites-button" onclick={{toggleFavorites}}></button>   
</div>
