<div class="chat-settings-bar">
    {{{Button className="chat-settings-bar__profile-button" type="button"}}}
    {{{Button className="chat-settings-bar__settings-button" type="button"}}}
    {{{Button className="chat-settings-bar__favorites-button" type="button"}}}
    {{{Button className="chat-settings-bar__new-chat-button" type="button"}}}
</div>
