@import "../../../assets/styles/color-scheme";

.chat-list {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow-y: scroll;
        height: calc(100dvh - 88px);
        max-width: 320px;

        &__item {
                overflow: visible;
                display: block;
                position: unset;
        }
}
