<ul class="chat-list">
    {{#each chats}}
        <li class="chat-list__item">
            {{{ChatBox
            chat=this
            id=this.id
            avatar=this.avatar
            title=this.title
            last_message=this.last_message
            time=this.last_message.time
            content=this.last_message.content
            unread_count=this.unread_count
            }}}
        </li>
    {{/each}}
</ul>
