@import "../../../assets/styles/color-scheme";

.chat-list {
        margin: 0;
        padding: 0;
        list-style: none;
        height: calc(100dvh - 88px);
        max-width: 320px;
        overflow-x: visible;
        overflow-y: auto;

        &__item {
                // overflow: visible;
                // display: block;
                // position: unset;
        }
}
