@import "../../../assets/styles/color-scheme";
@import "../../../assets/styles/default-main";

.profile {
    @include default-main;
    
    &__form_fields {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__profile_name {
        display: block;
        width: 100%;
        text-align: center;
        margin: 24px auto;
        font-weight: 600;
    }

    &__buttons_wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 48px;
    }

    &_input-error {
        text-align: center;
        width: 100%;
        height: 24px;
        font-size: 12px;
        line-height: 12px;
        color: $danger-text;
        margin-bottom: 4px;
    }

}
