@import "../../../assets/styles/color-scheme";

.chat-sidebar {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100dvh;
    border-right: 1px solid $base-lines;
    background-color: $base-background;

    &__list-wrapper {
        position: relative;
        height: calc(100dvh - 88px);
        overflow: visible scroll;
    }
}
