{{#Dialog open=isOpen}}
{{#Form type="dialog"}}
    <h4>Добавить пользователя в чат</h4>
    {{{ FormField label="ID пользователя" name="add_user_id" ref="addUserID" isActive="true" }}}
    {{{ ApiErrorMessage }}}
    <div>
        {{{ Button
        label="Добавить"
        type="submit"
        style="primary"
        onClick=onAddUser
        }}}
        {{{ Button
        label="Отменить"
        type="button"
        style="secondary"
        onClick=onClose
        }}}
    </div>
{{/Form}}
{{/Dialog}}
