{{#Dialog open=isOpen}}
<form method="dialog">
    <h4>Добавить пользователя в чат</h4>
    {{{ FormField label="Логин пользователя" name="add_user_login" ref="addUserLogin"}}}
    {{{ ErrorLine error=error ref="errorMessage"}}}
    <div>
        {{{ Button
        label="Добавить"
        type="submit"
        style="primary"
        onClick=onSubmit
        }}}
        {{{ Button
        label="Отменить"
        type="button"
        style="secondary"
        onClick=onClose
        }}}
    </div>
</form>
{{/Dialog}}
