<nav class="navigation">
    <ul class="navigation__list">
        <li>
            <a href='/messenger'>Messenger</a>
        </li>
        <li>
            <a href='/sign-up'>Register</a>
        </li>
        <li>
            <a href='/'>Login</a>
        </li>
        <li>
            <a href='/settings'>Profile</a>
        </li>
        <li>
            <a href='/404'>404</a>
        </li>
        <li>
            <a href='/500'>500</a>
        </li>
    </ul>
</nav>
