@import "../../../assets/styles/color-scheme";

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    &__list {
        list-style-type: none;
    }
}
