{{#Dialog open=isOpen}}
    {{#Form type="dialog"}}
        <h4>Загрузить изображение</h4>
        {{{FileInput ref="fileInput"}}}    
        {{{ApiErrorMessage}}}
        <div>
            {{{ Button
            label="Загрузить"
            type="submit"
            style="primary"
            onClick=onSubmitMedia
            }}}
            {{{ Button
            label="Отменить"
            type="button"
            style="secondary"
            onClick=onClose
            }}}
        </div>
    {{/Form}}
{{/Dialog}}
