<div class="chat_header">
    {{>Avatar size="small" src="assets/mocks/chad.png"}}
    <span class="chat_header__text">
        {{header}}
    </span>
    <button class="chat_header__button"/>
</div> 
