<div class="chat-header">
    {{{Avatar size="small" src=avatar alt="Selected chat avatar picture"}}}
    <span class="chat-header__text">
        {{title}}
    </span>
    {{{Button className='chat-header__button__add-user' type='button' onClick=onAddUser}}}
    {{{Button className='chat-header__button__delete-chat' type='button' onClick=onDeleteChat}}}
</div> 
