<div class="chat-header">
    {{>Avatar size="small" src="assets/img/mocks/chad.png" alt="Selected chat avatar picture"}}
    <span class="chat-header__text">
        {{header}}
    </span>
    <button class="chat-header__button"/>
</div> 
