<div class="chat-header">
    {{{Avatar size="small" src=avatar alt="Selected chat avatar picture"}}}
    <span class="chat-header__text">
        {{title}}
    </span>
    <button class="chat-header__button"/>
</div> 
