@import "../../../static/styles/color-scheme";

.chat_header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 8px 4px;
    width: 100%;
    height: 40px;
    background-color: $base-background;
    border-bottom: 1px solid $secondary-lines;
    box-sizing: border-box;

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 10px;
        font-size: 14px;
        width: 100%;
        height: 100%;
    }

    &__button {
        margin: auto 0;
        height: 20px;
        width: 2px;
        background: url(../../../static/img/icons/options.svg);
        border: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;

        &:hover {
            cursor: pointer;
            scale: 1.1;
            transition: 0.25s;
        }
    }
}
