<label class="form_label">
    <span class="form_label-text">{{label}}</span>
    <input class="form_input" name={{name}} onblur={{onBlur}}></input>
    <span class="form_input-error">{{error}}</span>
</label>
