@import "../../../assets/styles/color-scheme";

.dialog {
        display: none;

        &__open {
            display: flex;
            position: absolute;
            opacity: 1;
            z-index: 1000;
            top: 0;
            left: 0;
            width: 100dvw;
            height: 100dvh;
            align-items: center;
            justify-content: center;
            background-color: rgb(0 0 0 / 50%); 
            backdrop-filter: blur(5px); 
            animation: fade-in 0.3s ease-in-out forwards;
        }

    &__close-button {
        position: absolute;
        right: -32px;
        top: -32px;
        border: none;
        margin: auto;
        min-width: 32px;
        height: 32px;
        background: url("../../../assets/img/icons/close.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;

        &:hover {
            cursor: pointer;
            scale: 1.05;
            transition: 0.25s;
        }
    }
}
