{{#Dialog open=isOpen}}
<form method="dialog">
    <h4>Вы уверены?</h4>
    {{{ApiErrorMessage}}}
    <div>
        {{{ Button
        label="Удалить чат"
        type="submit"
        style="primary"
        onClick=onDeleteChat
        }}}
        {{{ Button
        label="Отменить"
        type="button"
        style="secondary"
        onClick=onClose
        }}}
    </div>
</form>
{{/Dialog}}
