<div class="chat-message__wrapper">
    <div class="chat-message">
        <div class="chat-message__info_wrapper">
            {{{Avatar size="xsmall" src=./author.avatar alt="Message author avatar picture"}}}
            <span class="chat-message__author">{{author}}</span>
            <span class="chat-message__separator"></span>
            <span class="chat-message__time">{{time}}</span>
        </div>
        <span class="chat-message__text">{{text}}</span>
    </div>
</div>
