<div class="chat-message__{{#if isOwn}}own__{{/if}}wrapper">
    <div class="chat-message{{#if isOwn}}__own{{/if}}">
        <span class="chat-message__author">{{author}}</span>
        <article class="chat-message{{#if isOwn}}__own{{/if}}__text">{{text}}</article>
        <span class="chat-message__time">{{time}}</span>
    </div>
</div>
