$base-background: #ffffff;
$secondary-background: #e5e5e5;
$dark-background: #202124;
$base-shadow: #999999;
$button-primary-background: #1b1b1e; 
$button-primary-text: #ffffff;
$button-secondary-background: transparent;
$button-secondary-text: #1e1e1e;
$button-accent-background: transparent;
$button-accent-text: #3369F3;
$button-danger-text: #ec2323;
$base-input-background: transparent;
$base-lines: #202124;
$secondary-lines: #999999;
$base-text: #1e1e1e;
$faded-text: #999999;
$accent-text: #3369F3;
$danger-text: #ec2323;
