<div class="chat_message-bar">
    <button class="chat_message-bar__attach-button" onclick={{onAttach}}></button>
    <input class="chat_message-bar__input" name="message" placeholder="Введите сообщение..." type="text" onblur={{onBlur}}>
    <button class="chat_message-bar__send-button" onclick={{onSend}}></button>
</div>
