@import "../../../assets/styles/color-scheme";

.chat_message-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 48px;
    max-height: 48px;
    background-color: $base-background;
    border-top: 1px solid $base-lines;
    box-sizing: border-box;

    &_input_error {
        color: $danger-text;
    }
}
