<div class="chat_message-bar">
    {{{Button type='chat-message-bar_attach' onClick=onAttach}}}
    {{{Input style='chat-message-bar_message' type='text' onBlur=onBlur placeholder=[placeholder]}}}
    {{{Button type='chat-message-bar_send' onClick=onSend}}}
</div>
