@import "../../../assets/styles/color-scheme";

.form-field {
    &_label {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3px;
        position: relative;

        &__profile {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
        }
    }

    &_label-text {
        cursor: pointer;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.2;
        color: $faded-text;

        &__profile {
            cursor: pointer;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.2;
            position: absolute;
            color: $base-text;
        }
    }

    &_input-error {
        text-align: center;
        width: 100%;
        height: 24px;
        font-size: 10px;
        line-height: 9px;
        color: $danger-text;
        margin-bottom: 4px;
    }
}
