<label class="form-field_label">
    <span class="form-field_label-text">{{label}}</span>
    {{{Input name=name type=type style=style ref="input" value=value onBlur=onBlur}}}
    <span class="form-field_input-error" ref="error">{{error}}</span>
</label>
